.menu-container {
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgb(65, 131, 56);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    width: 30%;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-top: 10px;
    margin: 5px;

    li {
        list-style-type: none;
        padding-top: 10px;
    }

}

a {
    text-decoration: none;
    color: black;
}


.menu-item {
    :hover {
        color: white;
        transition: 0.15s ease-in;
    }
}
